/* backgorund, honestly I could have used the "*" for universal */
body {
  background-color: rgb(253, 255, 130);
}

h1 {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  padding: 50px;
  text-align: center;
  margin: 0 100;
}


/*-------------------------------------Values--------------------------------*/

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

form label {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  display: contents;
}

form input {
  border: 1px solid black;
  width: 100px;
  border-radius: 5px;
  height: 27px;
  font-size: 20px;
  align-items: center;
}

/*---------------------------Button-------------------------------*/

 button {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
 }

/*---------------------------Graph canvas-------------------------------*/

.grid-graph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  border: 2px solid black;
  background-color: white;
  margin-top: 0;
}

h2 {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 20px;
  font-size: 20px;
}

/*---------------------------Result-------------------------------*/
.result-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 5px;
  width: 500px;
  font-size: 25px;
}